[Desktop Entry]
Categories=Internet;AudioVideo;
Comment=Standalone silo app for fite website
Exec=silo -a fite
GenericName=fite
Icon=silo-fite
MimeType=
Name=fite
Path=
StartupNotify=true
Terminal=false
Type=Application
StartupWMClass=silos-fite
